#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #333;
  border-radius: 10px;
  gap: 1rem;
}
.container-cron {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
}
.container-reloj {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
}
.container-temp {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
}
.row{
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.time {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
}
.btn-actions{
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.options {
  display: flex;
  justify-content: center;
  gap: 1rem;
}